#MainMenu {
    visibility: hidden;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

div [data-testid="stImage"] {
    width: 75%;
    margin: auto;
}

footer {
    visibility: hidden;
}