altair==4.2.2
beautifulsoup4==4.11.2
bs4==0.0.1
catboost==1.1.1
dnspython==2.3.0
googlesearch-python==1.2.3
html5lib==1.1
keras==2.11.0
matplotlib==3.7.1
plotly==5.14.1
pymongo==4.3.3
requests==2.28.2
scikit-learn==1.2.2
scipy==1.10.1
seaborn==0.12.2
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.11.0
tensorflow-estimator==2.11.0
xgboost==1.7.4
